@import '../../FLEX/scss/_body-text.scss';

// Styles for content within a WYSIWYG.
// All WYSIWYG content should be wrapped in a "body-text" div
.body1,
.is-style-body1 p,
.is-style-body1, 
p {
	font-size: 18px;
	letter-spacing: 0;
	line-height: 1.77;

	@include mediaquery(desktop)  {
		font-size: 20px;
		line-height: 1.6;
	}
}

.body2,
form.wpcf7-form,
.is-style-body2,
.is-style-body2 p {
	font-size: 14px;
	letter-spacing: 0.2px;
	line-height: 1.42;

	@include mediaquery(desktop)  {
		font-size: 16px;
		line-height: 1.5;
	}
}

.body3, 
.is-style-body3 p,
.is-style-body3 {
	font-size: 13px;
	letter-spacing: 0.2px;
	line-height: 1.23;
}
