@import '../../FLEX/scss/_fonts.scss';


@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');

@font-face {
    font-family: 'Lora';
    src: url('../assets/fonts/Lora-Regular.woff2') format('woff2'),
    url('../assets/fonts/Lora-Regular.woff') format('woff'),
    url('../assets/fonts/Lora-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('../assets/fonts/Lora-Bold.woff2') format('woff2'),
    url('../assets/fonts/Lora-Bold.woff') format('woff'),
    url('../assets/fonts/Lora-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Medium.woff2') format('woff2'),
    url('../assets/fonts/Poppins-Medium.woff') format('woff'),
    url('../assets/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Bold.woff2') format('woff2'),
    url('../assets/fonts/Poppins-Bold.woff') format('woff'),
    url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/Poppins-SemiBold.woff') format('woff'),
    url('../assets/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

$primaryLight: "Lora", Helvetica, Arial, sans-serif;
$primaryLightItalic: "Lora", Helvetica, Arial, sans-serif;
$primaryRegular: "Lora", Helvetica, Arial, sans-serif;
$primaryRegularItalic: "Lora", Helvetica, Arial, sans-serif;
$primaryMedium: "Lora", Helvetica, Arial, sans-serif;
$primaryMediumItalic: "Lora", Helvetica, Arial, sans-serif;
$primarySemi: "Lora", Helvetica, Arial, sans-serif;
$primarySemiItalic: "Lora", Helvetica, Arial, sans-serif;
$primaryBold: "Lora", Helvetica, Arial, sans-serif;
$primaryBoldItalic: "Lora", Helvetica, Arial, sans-serif;

$secondaryLight: "Poppins", Helvetica, Arial, sans-serif;
$secondaryLightItalic: "Poppins", Helvetica, Arial, sans-serif;
$secondaryRegular: "Poppins", Helvetica, Arial, sans-serif;
$secondaryRegularItalic: "Poppins", Helvetica, Arial, sans-serif;
$secondaryMedium: "Poppins", Helvetica, Arial, sans-serif;
$secondaryMediumItalic: "Poppins", Helvetica, Arial, sans-serif;
$secondarySemi: "Poppins", Helvetica, Arial, sans-serif;
$secondarySemiItalic: "Poppins", Helvetica, Arial, sans-serif;
$secondaryBold: "Poppins", Helvetica, Arial, sans-serif;
$secondaryBoldItalic: "Poppins", Helvetica, Arial, sans-serif;

$tertiaryLight: "PT Serif", serif;
$tertiaryLightItalic: "PT Serif", serif;
$tertiaryRegular: "PT Serif", serif;
$tertiaryRegularItalic: "PT Serif", serif;
$tertiaryMedium: "PT Serif", serif;
$tertiaryMediumItalic: "PT Serif", serif;
$tertiarySemi: "PT Serif", serif;
$tertiarySemiItalic: "PT Serif", serif;
$tertiaryBold: "PT Serif", serif;
$tertiaryBoldItalic: "PT Serif", serif;
