.component-newsletter {
    .email-input-wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;

        @include mediaquery('tablet-landscape') {
            justify-content: center;
        }
    }

    input {
        &[type="submit"] {
            font-size: 12px;
            padding-left: 50px;
            padding-right: 50px;
            flex-shrink: 0;
            margin-left: 20px;
            height: 50px;
        }

        &[type="checkbox"] {
    
            &:checked + .wpcf7-list-item-label:after {
                background-color: color('brand', 'accent');
            }
        }

        &[type="email"] {
            height: auto;
            margin-top: 3.5px;
            padding: 0 0 6px;
            background: transparent;
            border: none;
            border-bottom: 2px solid $borderColor;
        }
    }

    .wpcf7-response-output {
        margin-top: 0;
    }
}

.newsletter-image {
    height: 50px;

    @include mediaquery('tablet-landscape') {
        height: 65px;
    }

    .image-wrapper {
        height: 100%;
    }

    img {
        height: 100%;
    }
}