/**** Button Styles ****/
.cta, .is-style-cta {
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid transparent;
	box-shadow: none;
	box-sizing: border-box;
	color: $defaultTextColor;
	cursor: pointer;
	display: inline-block;
	font-size: px-to-rem(12px);
	line-height: 1;
	min-height: 48px;
	min-width: 200px;
	overflow: hidden;
	text-transform: uppercase;
	padding: 17px 25px 15px;
	position: relative;
	@include secondary-bold;
	transition: background .4s ease-out, border-color .4s ease-out;
	text-align: center;
	z-index: 2;

	@include mediaquery(desktop) {
		&:hover {
			//background: color('brand', 'accent');
			//border-color: color('brand', 'accent');
		}
	}

	&.schedule-button {
		text-align: left;
    align-items: center;
    display: inline-flex;
		padding: 10px 10px 8px 16px;

		&::before {
			background: url(../assets/images/calendar.svg);
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: contain;
			content: '';
			display: inline-block;
			height: 28px;
			margin-right: 16px;
			width: 28px;
		}
	}

	&.dropdown-button {
		align-items: center;
		justify-content: center;
    display: inline-flex;

		&::after {
			content: '';
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid $defaultTextColor;
			height: 0;
			width: 0;
			transition: transform .3s;
			margin-left: 10px;
			margin-bottom: 3px;
		}

		&.active {
			&::after {
				transform: rotate(180deg);
			}
		}
	}

	&.video-button {
		// padding-left: 20px;
		align-items: center;
		background: $white;
		border: 1px solid $black;
		border-color: $defaultTextColor;
		border-radius: 40px;
		color: $defaultTextColor;
		display: inline-flex;
		font-weight: 600;
		height: 57px;
		justify-content: space-between;
		min-width: none;
		padding: 4px 4px 4px 30px;
		text-transform: uppercase;
		transition: background .4s ease-out, border-color .4s ease-out;
		text-align: center;

		@include mediaquery(desktop) {
			&:hover {
				background: color('brand', 'accent');
				border-color: color('brand', 'accent');
			}
		}

		&::after {
			background: url(../assets/images/Play_Button.svg);
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: contain;
			border-radius: 100%;
			content: '';
			display: inline-block;
			height: 25px;
			margin-left: 30px;
			width: 25px;

			@include mediaquery(tablet-portrait) {
				height: 50px;
				margin-left: 35px;
				width: 50px;
			}
		}
	}

	&.cta-solid,
    &.is-style-cta-solid {
		background-color: $white;
		color: $defaultTextColor;
		border-color: color('brand', 'accent');

		@include mediaquery(desktop) {
			&:hover {
				//background: color('brand', 'accent');
				//border-color: color('brand', 'accent');
			}
		}
	}

	&.cta-accent,
    &.is-style-cta-accent {
		border-color: color('brand', 'accent');
		background-color: color('brand', 'accent');
		color: $white;
		transition: background .4s ease-out, border-color .4s ease-out, color .4s ease-out;

		@include mediaquery(desktop) {
			&:hover {
				background: $white;
				border-color: $white;
				color: color('brand', 'accent');
			}
		}
	}

	&.cta-negative,
    &.is-style-cta-negative {
		border-color: color('brand', 'primary');;
		color: $white;
		background: color('brand', 'primary');
		opacity: 1;
		transition: opacity .3s ease-out;

		@include mediaquery(desktop)  {
			&:hover {
				//background: transparent;
				//border-color: $white;
				//opacity: .5;
			}
		}
	}

	&.cta-inactive {
		pointer-events: none;
		opacity: .5;
	}
}


