.features-card {
	margin-left: 5px;
	margin-right: 5px;
	background: $white;

	&.features-card-top {
		padding-top: $gap;
		border-radius: 8px 8px 0 0;

		@include mediaquery(tablet-landscape) {
			padding-top: $gap * 3.75;
		}
	}

	&.features-card-bottom {
		border-radius: 0 0 8px 8px;
	}

	&.features-card-mobile {
		padding-top: 60px;
		border-radius: 8px;
	}

	> div {
		padding-left: 20px;
		padding-right: 24px;
	}

	&.component-top-border-black,
	&.component-bottom-border-black,
	.component-top-border-black,
	.component-bottom-border-black {
		border-color: #CCCCCC;
	}

	&.composite-title {
		> .component-heading {
			padding-left: 0;
			padding-right: 0;
		}
		> .component-heading:first-child {
			flex: 1;
			padding-left: 20px;
		}
		> .component-heading:last-child {
			padding-right: 24px;
		}
		> .component-heading:not(:last-child) {
			margin-right: 5px;
		}
	}

	.component-list {
		ul {
			margin-left: 15px;
		}
		
		li {
			font-size: 13px;
			line-height: 1.23;
			margin-bottom: $gap;
			letter-spacing: 0.2px;
			@include primary-regular;
		}
	}
}

// Apply tab styles only to sub-tablet-landscape screen sizes
@include mediaquery-max-width(tablet-landscape) {
	.component-features-card {
		.component-row-wide {
			.features-card {
				&:nth-child(2) {
					display: none;
				}

				&.features-card-tab.features-card-tab.features-card-tab {
					display: inline-block;
				}
			}
		}

		&.alt-tab-selected {
			.component-row-wide {
				.features-card {
					&:first-child {
						display: none;
					}

					&:nth-child(2) {
						display: inline-block;
					}
				}
			}			
		}
	}
}