@import '../../FLEX/components/component_nav/_nav.scss';

.component-header {
	top: 0;
	background: white;
	height: $navMobileHeight;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: top .3s ease-in-out, background .3s ease-in-out;
	width: 100%;
	z-index: 1000;

	.home & {
		background: transparent;
	}

	@include mediaquery(tablet-landscape)  {
		align-items: center;
		border-bottom: 1px solid #CCC;
		height: $navHeight;

		.home & {
			border-bottom: 0;
		}
	}

	.hideNav & {
		top: -($navMobileHeight);

		@include mediaquery(tablet-landscape)  {
			top: -($navHeight);
		}
	}

	.navOpen & {
		@include mediaquery-max-device-width(tablet-landscape) {
			top: 0;
		}
	}

	.header-inner {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: flex-start;
		margin: 0 auto;
		max-width: $siteWidth;
		padding: $gap * .75;
		position: relative;
		width: 100%;

		@include mediaquery('tablet-landscape') {
			padding: 0;		
		}
	}

	.language-switcher {
		margin-left: 0;

		.languages {
			align-items: center;
			display: flex;

			&::before {
				background-image: url(../assets/images/Language_Header_Negative.png);
    			background-repeat: no-repeat;
				background-size: contain;
				content: '';
				height: 12px;
				margin-right: 5px;
				width: 12px;
			}
		}

		.language {
			@include secondary-bold;
			align-items: center;
			border: 1px solid transparent;
			color: $white;
			display: flex;
			font-size: 8px;
			line-height: 1;
			letter-spacing: 1px;

			a {
				display: block;
				padding: 7px 6px;
				text-decoration: none;
			}

			&:last-child {
				&::before {
					content: '/';
				}
			}

			& + & {
				&::before {
					content: '/';
				}
			}
		}
	}

	.logo-wrapper {
		display: block;
		left: 20px;
		max-width: 173px;
		position: absolute;
		top: 16px;
		transition: all .3s ease-in-out;
		z-index: 10;

		@include mediaquery('tablet-landscape') {
			top: 32px;
		}

		@include mediaquery('xl2') {
			left: -150px;
		}

		.nav-logo {
			display: block;
			height: 32px;
			object-fit: contain;
			width: auto;
		}

		.secondary-nav-logo {
			display: none;
		}
	}

	.main-nav {
		padding-top: 32px;

		@include mediaquery-max-width(tablet-landscape) {
			// Mobile only mediaquery so less overrides are necessary
			// background-color: #f4ecb4;
			background-color: rgba(29, 29, 29, .97);
			display: flex;
			height: 100vh;
			opacity: 0;
			pointer-events: none;
			position: absolute;
			top: 0;
			transition: opacity .3s ease-in;
			width: 100%;

			.navOpen & {
				pointer-events: all;
				opacity: 1;
				right: 0;
				transition: opacity .2s ease-in;
			}
		}

		@include mediaquery(tablet-portrait)  {
			margin-left: 50px;
			width: calc(90% - 160px);
		}

		@include mediaquery(tablet-landscape)  {
			// Large mobile +
			height: 100%;
			margin-left: 80px;
			width: calc(100% - 160px);

			@include mediaquery-max-width(xl) {
				margin-right: 80px;
			}
		}
	}

	.menu-items {
		align-items: center;
		display: flex;
		justify-content: center;
		margin: auto;

		@include mediaquery-max-width(phone-plus) {
			margin: $gap*3 0 0 20px;
		}

		@include mediaquery-max-width(tablet-landscape) {
			// Mobile only mediaquery so less overrides are necessary
			align-items: flex-start;
			flex-direction: column;
			justify-content: left;
			margin: $gap*4 0 0 20px;
			padding: 0;
			text-align: left;

			> .menu-item:not(:first-of-type) {
				// margin-top: 30px;
			}
		}

		@include mediaquery(tablet-landscape)  {
			// Large mobile +
			display: flex;
			height: 100%;
			position: relative;
			width: 100%;
		}

		a[href='#…'] {
			visibility: hidden;
		}
	}

	.menu-item {
		border-bottom: 6px solid transparent;
		cursor: pointer;
		height: 100%;
		letter-spacing: 0.5px;
		line-height: 20px;
		text-align: left;
		text-transform: uppercase;
		padding-bottom: 0;
		position: relative;
		@include secondary-semi;

		&.current-menu-item {
			@include mediaquery(tablet-portrait) {
				border-color: #15224b;
			}
		}

		.menu-item {
			// Remove underline from submenu items
			border: 0;
		}

		.home &,
		.navOpen & {
			color: $white;
		}

		@include mediaquery-max-width(phone-plus) {
			font-size: px-to-rem(20px);
		}

		@include mediaquery-max-width(tablet-landscape) {
			// Mobile only mediaquery so less overrides are necessary
			border: 0;
			color: $white;
			display: block;
			font-size: px-to-rem(27px);
			height: auto;
			line-height: initial;
			margin-bottom: 0;
			padding-bottom: 0;
			text-align: left;

			&:nth-child(10) a{ transition: opacity .05s ease-in .0s; }
			&:nth-child(9) a { transition: opacity .05s ease-in .0s; }
			&:nth-child(8) a { transition: opacity .05s ease-in .0s; }
			&:nth-child(7) a { transition: opacity .05s ease-in .0s; }
			&:nth-child(6) a { transition: opacity .05s ease-in .0s; }
			&:nth-child(5) a { transition: opacity .05s ease-in .0s; }
			&:nth-child(4) a { transition: opacity .05s ease-in .0s; }
			&:nth-child(3) a { transition: opacity .05s ease-in .0s; }
			&:nth-child(2) a { transition: opacity .05s ease-in .0s; }
			&:nth-child(1) a { transition: opacity .05s ease-in .0s; }
			&:nth-child(0) a { transition: opacity .05s ease-in .0s; }

			.navOpen & {
				&:nth-child(0) a { transition: opacity .20s ease-in .00s; }
				&:nth-child(1) a { transition: opacity .22s ease-in .10s; }
				&:nth-child(2) a { transition: opacity .24s ease-in .21s; }
				&:nth-child(3) a { transition: opacity .26s ease-in .32s; }
				&:nth-child(4) a { transition: opacity .28s ease-in .43s; }
				&:nth-child(5) a { transition: opacity .30s ease-in .54s; }
				&:nth-child(6) a { transition: opacity .32s ease-in .65s; }
				&:nth-child(7) a { transition: opacity .34s ease-in .76s; }
				&:nth-child(8) a { transition: opacity .36s ease-in .87s; }
				&:nth-child(9) a { transition: opacity .38s ease-in .98s; }
				&:nth-child(10) a{ transition: opacity .40s ease-in .29s; }
			}
		}

		@include mediaquery(tablet-landscape)  {
			// Large mobile +
			align-items: center;
			display: flex;
			font-size: px-to-rem(12px);
			letter-spacing: 2px;
			line-height: 16px;
			opacity: 1;
			padding-bottom: $gap;
			transition: opacity .2s ease-in;

		}

		&:not(:last-of-type) {
			margin-right: 00px;

			@include mediaquery(phone-plus)  {
				margin-right: 40px;
			}

			@include mediaquery(tablet-landscape)  {
				margin-right: 50px;
			}
		}

		a {
			text-decoration: none;

			@include mediaquery-max-device-width(tablet-landscape) {
				color: color('text', 'white');
				display: inline-block;
				margin-bottom: $gap / 2;
				opacity: .2;
				position: relative;

				.navOpen & {
					opacity: 1;
				}
			}

			&:after {
				content: none;
			}
		}

		&.current-menu-item {
			> a:after {
				opacity: 1;
				background-color: color('text', 'body');
			}
		}

		@include mediaquery(desktop)  {
			&:hover {
				a:after {
					opacity: 1;
					background-color: color('text', 'body');
				}
			}
		}

		&.menu-item-has-children {
			&::after {
				content: '';
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 5px solid $white;
				transition: transform .3s;
				margin-left: 10px;
				margin-top: -4px;

				@include mediaquery-max-width(tablet-landscape) {
					display: none;
				}
			}
		}

		&.menu-item-has-children:hover {
			.sub-menu {
				opacity: 1;
				pointer-events: auto;
			}

			&:after {
				transform: rotate(180deg);
			}
		}

		.sub-menu {
			color: $defaultTextColor;

			@include mediaquery(tablet-landscape) {
				box-shadow: 0px 8px 10px 2px rgba($black, 0.25);
				border-radius: 7px;

				.menu-item {
					margin-top: 30px;
					padding-bottom: 0;
				}
			}

			@include mediaquery(tablet-landscape) {
				opacity: 0;
				position: absolute;
				background: $white;
				pointer-events: none;
				transform: translateX(-20%);
				color: color('text', 'body');
				// padding: 25px 15px 10px 25px;
				padding: 25px 30px 20px 25px;
				// top: calc(100% + (#{$gap}*.75));
				top: calc(100%);
				transition: opacity .3s ease-in;

				&:before {
					content: '';
					left: 0;
					top: -20px;
					width: 100%;
					height: 20px;
					position: absolute;
				}

				.menu-item {
					@include secondary-bold;
					color: $defaultTextColor;
					display: block;
					height: auto;
					margin: 0;
					transition: color .3s;
					white-space: nowrap;

					&:not(:first-of-type) {
						margin-top: 16px;
					}

					a {
						&:after {
							content: none;
						}
					}

					&:hover {
						color: color('brand', 'accent');
					}
				}
			}
		}

		@include mediaquery(desktop)  {
			&:hover {
				opacity: 1;

				a:after {
					background-color: $black;
					opacity: 1;
				}
			}
		}
	}

	.logoDark & {
		.nav-logo {
			display: none;
		}

		.secondary-nav-logo {
			display: block;
		}

		// Only apply dark version on desktop. Mobile hamburger menu 
		// background color is always the same
		@include mediaquery(tablet-portrait) {
			.menu-item {
				color: $defaultTextColor;
			}
		}

		.languages {
			&::before {
				background-image: url(../assets/images/Language_Header_Positive.png);
			}
		}

		.language {
			color: $defaultTextColor;
		}

		.menu-item-has-children {
			&::after {
				border-top-color: $defaultTextColor;
			}
		}
	}

	@include mediaquery-max-width(tablet-landscape) {
		.logoDark.navOpen & {
			.menu-item {
				color: $white;
			}

			.nav-logo {
				display: block;
			}

			.secondary-nav-logo {
				display: none;
			}
		}
	}
	
	.logoLight & {
		.nav-logo {
			display: block;
		}

		.secondary-nav-logo {
			display: none;
		}

		.menu-item {
			color: $white;
		}
	}

	.secondary-nav {
		left: initial;
		position: fixed;
		right: 0;
		top: 16px;
		transition: top .2s;

		@include mediaquery('xl2') {
			left: calc(100% + 70px);
			top: 16px;
		}

		.menu-item {
			display: none;

			@include mediaquery('tablet-landscape') {
				display: block;
			}
		}

		.menu-item:not(:last-of-type) {
			font-size: 10px;
			margin-right: 30px;
			margin-left: 0;
		}

		.navOpen & {
			top: -($navHeight);
		}
	}
}
