.component-footer {
	background-color: color('brand', 'primary');
	// * {
	// 	visibility: hidden; // For now
	// }

	color: $white;
	background: $defaultTextColor;

	.footer-wrapper {
		flex-direction: column-reverse;

		@include mediaquery('tablet-portrait') {
			flex-direction: row;
		}
	}

	.component-row {
		padding-top: 65px;
		padding-bottom: 65px;
	}

	.footer-logo {
		max-width: 173px;
		margin-bottom: 43px;

		@include mediaquery('tablet-landscape') {
			margin-bottom: 70px;
		}
	}

	.copyright-desktop {
		display: none;

		@include mediaquery('tablet-portrait') {
			display: block;
		}

		a {
			color: inherit;
		}
	}

	// p, p > span {

	// 	// text-transform: uppercase;
	// 	@include secondary-medium;
	// }
	
	.footer-copyright {
		opacity: .75;
		letter-spacing: 1.5px;

		p {
			font-size: px-to-rem(10px);
		}
	}

	.footer-nav {
		.menu-items {
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			// max-height: 160px;
			// flex-direction: column;

			& > .menu-item {
				width: 50%;
				margin-bottom: 30px;

				@include mediaquery('tablet-landscape') {
					width: auto;
					max-width: 25%;
					min-width: 100px;
					margin-bottom: 0;
				}
			}
		}
	}

	.footer-secondary-nav {
		opacity: .8;

		.menu-item {
			@include secondary-regular;
		}
	}

	.footer-nav-row {
		// margin-top: 55px;
	}

	.menu-item {
		display: block;
		line-height: 1;
		margin-bottom: 8px;
		letter-spacing: 2px;
		// text-transform: uppercase;
		font-size: px-to-rem(12px);
		@include secondary-bold;

		@include mediaquery('tablet-portrait') {
			margin-bottom: $gap;
		}

		&:last-child {
			margin-bottom: 0;
		}

		a {
			text-decoration: none;
		}
	}

	.menu-item + .menu-item {
		// @include mediaquery('tablet-portrait') {
		// 	padding-left: 10px;
		// }

		@include mediaquery('tablet-landscape') {
			padding-left: 50px;
		}
	}

	.menu-items {
		a[href='#…'] {
			visibility: hidden;
		}
	}

	.sub-menu {
		opacity: .8;
		margin-top: 24px;

		.menu-item {
			padding: 0;
			@include secondary-regular;
		}
	}

	.footer-link {
		margin-bottom: $gap*.25;
	}

	.social-icon {
		a {
			text-decoration: none;
		}
	}
}
