.component-testimonialcarousel {
    padding-top: 60px;
    background: $white;
    padding-bottom: 75px;

    @include mediaquery('tablet-landscape') {
        padding-top: 65px;
        padding-bottom: 95px;
    }

    blockquote {
        p {
            font-size: 20px;
            line-height: 1.6;
            // font-family: $tertiaryRegular;
            font-weight: 600;
            color: color('brand', 'accent');

            @include mediaquery('desktop') {
                font-size: 32px;
            }
        }
    }

    .nav {
        top: auto;
        bottom: 0;
        transform: translateY(calc(50% + 6px));

        @include mediaquery('tablet-landscape') {
            top: 50%;
            bottom: auto;
            transform: translateY(-50%);
        }

        &.prev {
            left: 13px;

            @include mediaquery('tablet-landscape') {
                left: 53px;
            }

            &:before {
                content: '';
                width: 56px;
                height: 56px;
                transform: none;
                margin-right: 10px;
                display: inline-block;
                // background: url(../assets/images/arrow-slider.svg);
                background-repeat: no-repeat;
            }
        }

        &.next {
            right: 13px;

            @include mediaquery('tablet-landscape') {
                right: 53px;
            }

            &:after {
                content: '';
                width: 56px;
                height: 56px;
                margin-left: 10px;
                display: inline-block;
                transform: scaleX(-1);
                // background: url(../assets/images/arrow-slider.svg);
                background-repeat: no-repeat;
            }
        }
    }

    .component-carousel {
        height: 100%;
        padding: 0 20px;
        margin-top: 30px;

        @include mediaquery('tablet-landscape') {
            padding: 0;
            margin-top: 0;
        }

        .slides {
            height: 100%;
        }

        .slide {
            padding-left: 80px;
            padding-right: 100px;
            // position: relative;

            .quote-image {
                position: absolute;
                left: -120px;
                top: 0;
                height: 45px;
                width: 60px;
                background: url(../assets/images/Quotation.png) left top no-repeat;
                background-size: contain;
            }

            .quote-container {
                margin-bottom: 24px;

                @include mediaquery('tablet-landscape') {
                    min-height: 200px;
                    margin-bottom: 20px;
                }
            }

            .author-container {
                display: flex;

                .author-image {
                    width: 48px;
                    height: 48px;
                    flex: 0 0 auto;
                    margin-right: 14px;
                    border-radius: 50%;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                .author-data {
                    //flex: 1 0 auto;
                }

                .author-name {
                    margin-bottom: 5px;
                }
            }
        }

        .author-dots-row {
            flex-direction: column-reverse;

            @include mediaquery('tablet-landscape') {
                flex-direction: row;
            }
        }

        .dots-component {
            margin-top: 45px;
            @include mediaquery('tablet-landscape') {
                margin-top: 40px;
            }

            .dot {
                position: relative;

                a {
                    width: 4px;
                    height: 4px;
                    background-color: #A5D4F0;
                }

                &:not(.active) {
                    opacity: 1;
                }

                &.active {
                    a {
                        background-color: #59869F;
                    }

                    &:before {
                        top: 50%;
                        left: 50%;
                        content: "";
                        width: 12px;
                        height: 12px;
                        position: absolute;
                        border-radius: 50%;
                        border: 2px solid #A5D4F0;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}
