.component-circle-image {
	position: relative;
	border-radius: 100%;
	width: 250px;
	height: 250px;

	img {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		border-radius: 100%;
    height: 100%;
		width: 100%;
		padding: 13px;
    object-fit: cover;
	}
}
