.component-hero-slider {
	height: 80vh;
	min-height: 780px;
	overflow: hidden;
	width: 100%;

	.slides {
		display: flex;
		height: 100%;
		width: 100%;
	}

	.slide {
		align-items: center;
		display: flex;
		flex-shrink: 0;
		flex-direction: column-reverse;
		height: 100%;
		justify-content: flex-end;
		pointer-events: none;
		position: absolute;
		transition: opacity .2s;
		width: 100%;
		z-index: 1;

		.content {
			height: 100%;
			opacity: 0;
			transition: opacity 1s ease-in-out;

			.headline1 {
				-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: rgba(255, 255, 255, 1);
				-webkit-text-fill-color: rgba(255, 255, 255, 0);

				&.dup {
					position: absolute;
					top: 0;
					left: 0;
					transition: all 1.5s ease-in-out;

					-webkit-text-fill-color: white;
					-webkit-mask-image: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,0) 35%, rgba(255,255,255,0) 69%, rgba(255,255,255,1) 69%);
					-webkit-mask-position: 100% 0%;
					-webkit-mask-size: 3600px 276px; /* 6x text width, 1x text height */

					/*.Start animation on load */
					animation: 2s ease-in-out 2s 1 wipe-animate;
					
					-webkit-transform: translateZ(0);
				}
			}

			.headline-container {
				// overflow: hidden;
				position: relative;
			}
		}

		@include mediaquery(tablet-landscape) {
			flex-direction: column;
		}

		.side-column {
			transition: all 1s ease-in-out;
			left: -100%;
		}

		&.active {
			pointer-events: auto;
			z-index: 2;

			.content {
				opacity: 1;

				.headline1.dup {
					-webkit-mask-position: 0% 0%;
				}
			}

			.side-column {
				transition: all 1s ease-in-out;
				width: 100%;
				left: -69%
			}
		}

		&.next {
			.side-column {
				left: -100%;
				transition: all 2s ease-in-out;
				width: 100%;
			}
		}

		&.previous {
			.side-column {
				left: 100%;
				transition: all 2s ease-in-out;
				width: 200%;
			}
		}
	}

	.image-wrapper {
		height: 100%;
		position: relative;
		width: 100%;
		flex-shrink: 1;
		
		&::after {
			background: rgba($black, .2);
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		@include mediaquery(tablet-landscape) {
			position: absolute;
		}
	}

	.image {
		height: 100%;
		object-fit: cover;
		width: 100%;
    left: 0;
		top: 0;
    position: absolute;
	}

	.content {
		color: $white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
		max-width: $siteWidth;
		padding: 90px 20px 32px;
		position: relative;
		width: 100%;
		z-index: 1;

		@include mediaquery(tablet-landscape) {
			padding: 0 20px;
		}

		@include mediaquery('xl2') {
			max-width: 1368px;
			padding-left: 100px;
		}
	}

	.side-column {
		display: none;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		transition: all 1s ease-in-out;
		width: 100%;
		z-index: 1;

		@include mediaquery(tablet-landscape) {
			display: block;
		}
	}

	.side-row {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;

		@include mediaquery(tablet-landscape) {
			display: none;
		}
	}

	.dots-component {
		display: flex;
		list-style: none;

		@include mediaquery(tablet-landscape) {
			margin-left: 8px;
		}
	}

	.dot {
		cursor: pointer;
		height: 12px;
		position: relative;
		margin: 0 7px;
		width: 12px;

		@include mediaquery(tablet-landscape) {
			height: 20px;
			margin: 0 10px;
			width: 20px;
		}

		&:first-child {
			margin-left: 0;
		}

		a {
			display: block;
			height: 100%;
			width: 100%;
		}
	
		&:before {
			background-color: $white;
			border-radius: 100%;
			content: '';
			height: 3px;
			left: 50%;
			pointer-events: none;
			position: absolute;
			top: 50%;
			transform: translate(-50%,-50%);
			width: 3px;

			@include mediaquery(tablet-landscape) {
				height: 5px;
				width: 5px;
			}
		}

		&:after {
			border: 2px solid $white;
			border-radius: 100%;
			content: '';
			height: 0;
			left: 50%;
			pointer-events: none;
			position: absolute;
			transform: translate(-50%,-50%);
			transition: height .3s, width .3s;
			top: 50%;
			width: 0;

			@include mediaquery(tablet-landscape) {
				border-width: 1px;
			}
		}

		&.active {
			&::after {
				height: 12px;
				width: 12px;
			}
		}
	}
}

// @-webkit-keyframes diagonal-wipe-animate {
// 	from {
// 		-webkit-mask-position: 0% 100%;
// 	}
// 	to {
// 		-webkit-mask-position: 0% -190%;
// 	}
// }

@keyframes wipe-animate {
	from {
		-webkit-mask-position: 100% 0%;
	}
	to {
		-webkit-mask-position: 0% 0%;
	}
}