.component-heading {
	width: 100%;

	&.has-image {
		align-items: center;
		display: flex;
		flex-wrap: wrap;

		img {
			height: auto;
			margin-right: $gap*5;
			max-height: 30px;
			max-width: 45px;
			width: auto;

			@include mediaquery(tablet-portrait) {
				margin-right: $gap*2;
				max-height: 50px;
				max-width: 80px;
			}
		}
	}
}
