@import '../../FLEX/gutenberg/blocks/block_posts/_posts.scss';

.component-archive-posts {
	$card-border-radius: 10px;

	.categories {
		bottom: 100%;
		position: absolute;
		top: auto;
		width: 100%;
	}

	.cat-list {
		align-items: flex-end;
		border: 1px $light-gray solid;
		display: none;
		flex-direction: column;
		left: 50%;
		margin: 0;
		position: absolute;
		top: 100%;
		transform: translateX(-50%);
		width: 100%;
		z-index: 1;

		@include mediaquery('tablet-portrait') {
			margin: 0 auto;
			max-width: 83.3333%;
		}

		@include mediaquery('tablet-landscape') {
			border: none;
			display: flex;
			flex-direction: row;
			left: auto;
			position: relative;
			top: auto;
			transform: none;
		}

		.cat-item + .cat-item {
			margin-top: -1px;
			margin-left: 0;

			@include mediaquery('tablet-landscape') {
				margin-left: -1px;
				margin-top: 0;
			}
		}
	}

	.cat-item {
		width: 100%;
	}

	.cat-button {
		background-color: $defaultTextColor;
		color: $white;
		width: 100%;
		transition: background-color .3s, color .3s;
		padding: 16px;
		font-weight: 600;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1rem;

		@include mediaquery('tablet-landscape') {
			padding: 16px 16px 8px 16px;
		}

		&.active,
		&:hover {
			background-color: $white;
			color: $defaultTextColor;
		}

		&.active {
			display: none;
		
			@include mediaquery('tablet-landscape') {
				display: flex;
			}
		}

		&::before {
			content: '';
			background-image: url(../assets/images/category-icons/Thought_Leadership_Positive.svg);
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: contain;
			height: 18px;
			width: 18px;
			margin-right: 5px;
		}

		@include mediaquery('tablet-landscape') {
			border-radius: $card-border-radius $card-border-radius 0 0;
		}

		&:hover {
			opacity: 1;
		}
	}

	.cat-events {
		&::before {
			background-image: url(../assets/images/category-icons/Event_Negative.svg);
		}

		&.active,
		&:hover {
			&::before {
				background-image: url(../assets/images/category-icons/Event_Positive.svg);
			}
		}
	}

	.cat-news {
		&::before {
			background-image: url(../assets/images/category-icons/News_Negative.svg);
		}

		&.active,
		&:hover {
			&::before {
				background-image: url(../assets/images/category-icons/News_Positive.svg);
			}
		}
	}

	.cat-partner-updates {
		&::before {
			background-image: url(../assets/images/category-icons/Partner_Updates_Negative.svg);
		}

		&.active,
		&:hover {
			&::before {
				background-image: url(../assets/images/category-icons/Partner_Updates_Positive.svg);
			}
		}
	}

	.cat-thought-leadership {
		&::before {
			background-image: url(../assets/images/category-icons/Thought_Leadership_Negative.svg);
		}

		&.active,
		&:hover {
			&::before {
				background-image: url(../assets/images/category-icons/Thought_Leadership_Positive.svg);
			}
		}
	}

	.cat-dropdown {
		background: $white;
		color: $defaultTextColor;
		border-radius: $card-border-radius $card-border-radius 0 0;
		width: 100%;
		margin-bottom: -1px;

		&.active {
			background-color: $white;
			color: $defaultTextColor;
			display: flex;
		}

		@include mediaquery('tablet-portrait') {
			max-width: 83.3333%;
			margin: 0 auto;
		}

		@include mediaquery('tablet-landscape') {
			&.active {
				display: none;
			}
		}
	}

	.filter-form {
		padding: 24px 0 24px;
		justify-content: flex-end;
	}

	.sort-filter {
		justify-content: flex-end;

		label {
			font-weight: 600;
			margin-bottom: 0;
		}
	}

	.dropdown-button {
		transition: color .3s;

		&:hover {
			color: color('brand', 'accent');
		}
	}

	.dropdown-list {
		border-radius: 5px;
	}

	.posts-items {
		margin: -16px -8px;
		// padding-bottom: 64px;
	}

	.posts-item {
		padding: 8px 5px;
		min-width: 100%;
		flex-grow: 1;

		
		@include mediaquery('tablet-portrait') {
			min-width: 360px;
		}

		@include mediaquery('tablet-landscape') {
			min-width: unset;
			flex-grow: 0;
		}

		&:hover {
			.posts-item-wrapper::before {
				opacity: 1;
			}
		}
	}

	.posts-item-wrapper {
		border-radius: $card-border-radius;
		border: $light-gray 1px solid;
		transition: box-shadow .3s;
		position: relative;
		height: 320px;
		display: flex;
		flex-direction: column;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}

		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 100%;
			border-radius: $card-border-radius;
			top: 1px;
			left: 0;
			opacity: 0;
			box-shadow: 0px 2px 3px 2px rgba($black, 0.25);
			transition: opacity 0.3s ease-in-out;
		}
	}

	.image-wrapper {
		border-radius: $card-border-radius $card-border-radius 0 0;
		overflow: hidden;
		height: 190px;
		background-color: $defaultTextColor;

		@include mediaquery('tablet-landscape') {
			height: 140px;
		}
	}

	.post-content {
		display: flex;
		flex-direction: column;
		padding: 16px;
		position: relative;
		flex-grow: 1;
		background: $white;
		border-radius: $card-border-radius;

		@include mediaquery('tablet-landscape') {
			padding: 16px 16px 24px 16px;
		}

		&::before {
			content: '';
			position: absolute;
			right: 8px;
			top: -16px;
			background-color: $white;
			border: $light-gray 1px solid;
			height: 31px;
			width: 31px;
			border-radius: 100%;
		}

		&::after {
			content: '';
			position: absolute;
			right: 15px;
			top: -10px;
			background-image: url(../assets/images/category-icons/Thought_Leadership_Positive.svg);
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: contain;
			height: 18px;
			width: 18px;
		}
	}

	.cta-link {
		position: absolute;
		bottom: 24px;
		left: 0;
		padding: 0 16px;
		width: 100%;
		font-weight: 600;


		&::after {
			content: '';
			position: absolute;
			right: 16px;
			top: 0;
			background-image: url(../assets/images/Cta_Arrow.svg);
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: contain;
			height: 10px;
			width: 20px;
			animation: move-cta-arrow 1s infinite ease-in-out;
			animation-play-state: paused;
		}

		&:hover {
			&::after {
				animation-play-state: running;
			}
		}
	}

	.post-date {
		text-transform: uppercase;
		font-size: 10px;
		font-weight: 500;
	}

	.post-title {
		padding-bottom: 16px;
		padding-right: 60px;
		font-weight: 600;
		font-size: 1.2rem;
		line-height: 1.4;
	}

	.post-category-news {
		.post-content {
			&::after {
				background-image: url(../assets/images/category-icons/News_Positive.svg);
			}
		}
	}

	.post-category-events {
		.post-content {
			&::after {
				background-image: url(../assets/images/category-icons/Event_Positive.svg);
			}
		}
	}

	.post-category-partner-updates {
		.post-content {
			&::after {
				background-image: url(../assets/images/category-icons/Partner_Updates_Positive.svg);
			}
		}
	}

	.post-category-thought-leadership {
		.post-content {
			&::after {
				background-image: url(../assets/images/category-icons/Thought_Leadership_Positive.svg);
			}
		}
	}

	.pagination-nav {
		margin-top: 64px;
		
		.page-numbers {
			font-weight: 600;
			font-size: 16px;
		}

		.next,
		.prev {
			border: none;
			background-image: url(../assets/images/Pagination_Right_Arrow.svg);
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: contain;
			height: 12px;
			width: 12px;
		}

		.prev {
			transform: rotate(180deg);
			left: 0;
		}

		.next {
			transform: rotate(0);
		}
	}
}

@keyframes move-cta-arrow {
	50% {
		transform: translateX(-50%);
	}
}
