@import '../../FLEX/scss/_fonts.scss';

$primaryLight: "Poppins", Helvetica, Arial, sans-serif;
$primaryLightItalic: "Poppins", Helvetica, Arial, sans-serif;
$primaryRegular: "Poppins", Helvetica, Arial, sans-serif;
$primaryRegularItalic: "Poppins", Helvetica, Arial, sans-serif;
$primaryMedium: "Poppins", Helvetica, Arial, sans-serif;
$primaryMediumItalic: "Poppins", Helvetica, Arial, sans-serif;
$primarySemi: "Poppins", Helvetica, Arial, sans-serif;
$primarySemiItalic: "Poppins", Helvetica, Arial, sans-serif;
$primaryBold: "Poppins", Helvetica, Arial, sans-serif;
$primaryBoldItalic: "Poppins", Helvetica, Arial, sans-serif;
