@import '../../FLEX/scss/_iconography.scss';

.hamburger-wrapper {
	height: 56px;
}

.hamburger {
	border-top: none;
	top: 17px;

	&::before,
	&::after {
		background-color: $white;
	}	
}

.logoDark .hamburger {
	&::before,
	&::after {
		background-color: $black;

	}
}

.logoDark.navOpen .hamburger {
	@include mediaquery-max-width(tablet-landscape) {
		&::before,
		&::after {
			background-color: $white;
		}
	}
}