@import '../../FLEX/scss/_iconography.scss';

.hamburger-wrapper {
	height: 56px;
}

.hamburger {
	border-top: none;
	top: 17px;

	.logoDark & {
		&::before,
		&::after {
			background-color: $black;

			.navOpen {
				background-color: $white;
			}
		}
	}
}
