@mixin verticalCenter() {
	display: flex;
	align-items: center;
}

@mixin allCenter() {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin horizontalCenter() {
	display: flex;
	justify-content: center;
}

@mixin cssColumns($columns, $colGap, $break) {
	column-count:$columns;
	column-gap: $colGap;
	page-break-inside: $break; /* Firefox */
	break-inside: $break;
}

// Clearfix: contain floats
// Available as class or mixin
.clearfix:before,
.clearfix:after {
	content: " "; // 1
	display: table; // 2
}

.clearfix:after {
	clear: both;
}

@mixin clearRow {
	&:after {
		clear: both;
		content: '';
		display: block;
		height: 0;
		width: 100%;
	}
}

// Helper Classes
.align-center,
.text-align-center {
	text-align: center;
}

.align-left,
.text-align-left {
	text-align: left;
}

.align-right,
.text-align-right {
	text-align: right;
}

.block {
	display: block !important;
}

.center,
.block-align-center {
	margin: 0 auto !important;
}

.float-left,
.block-align-left {
	float: left !important;
}

.float-right,
.block-align-right {
	float: right !important;
}

.nofloat {
	float: none;
}

.relative {
	position: relative !important;
}

.popup-open {
    overflow: hidden;

    .component-header {
        pointer-events: none;
    }
}


.offset-bottom-10  { margin-bottom: -10%;  }
.offset-bottom-20  { margin-bottom: -20%;  }
.offset-bottom-30  { margin-bottom: -30%;  }
.offset-bottom-40  { margin-bottom: -40%;  }
.offset-bottom-50  { margin-bottom: -50%;  }
.offset-bottom-60  { margin-bottom: -60%;  }
.offset-bottom-70  { margin-bottom: -70%;  }
.offset-bottom-80  { margin-bottom: -80%;  }
.offset-bottom-90  { margin-bottom: -90%;  }
.offset-bottom-100  { margin-bottom: -100%;  }

.offset-right-10  { margin-right: -10%;  }
.offset-right-20  { margin-right: -20%;  }
.offset-right-30  { margin-right: -30%;  }
.offset-right-40  { margin-right: -40%;  }
.offset-right-50  { margin-right: -50%;  }
.offset-right-60  { margin-right: -60%;  }
.offset-right-70  { margin-right: -70%;  }
.offset-right-80  { margin-right: -80%;  }
.offset-right-90  { margin-right: -90%;  }
.offset-right-100  { margin-right: -100%;  }

.offset-top-10  { margin-top: -10%;  }
.offset-top-20  { margin-top: -20%;  }
.offset-top-30  { margin-top: -30%;  }
.offset-top-40  { margin-top: -40%;  }
.offset-top-50  { margin-top: -50%;  }
.offset-top-60  { margin-top: -60%;  }
.offset-top-70  { margin-top: -70%;  }
.offset-top-80  { margin-top: -80%;  }
.offset-top-90  { margin-top: -90%;  }
.offset-top-100  { margin-top: -100%;  }

.offset-left-10  { margin-left: -10%;  }
.offset-left-20  { margin-left: -20%;  }
.offset-left-30  { margin-left: -30%;  }
.offset-left-40  { margin-left: -40%;  }
.offset-left-50  { margin-left: -50%;  }
.offset-left-60  { margin-left: -60%;  }
.offset-left-70  { margin-left: -70%;  }
.offset-left-80  { margin-left: -80%;  }
.offset-left-90  { margin-left: -90%;  }
.offset-left-100  { margin-left: -100%;  }

