@import '../../FLEX/scss/_sizing';

// Project specific settings
$gap					: 16px;
$siteWidth				: 1024px;
$navMobileHeight		: 56px;
$navHeight				: 80px;
$navWidth				: 1300px;

// Fixed row heights
$small-row-mobile		: 50vh;
$small-row				: 400px;
$medium-row-mobile		: 100vh;
$medium-row				: 500px;
$large-row-mobile		: 100vh;
$large-row				: 80vh;

// Responsive Font Size Map
// — Add as many as needed.
// — Add fonts sizes for each break point. 
// — Font sizes will be converted to rems.
// — USAGE:  @include font-size($font-size)
$font-size-body-text: (
	'default'			: 16px,
	'phone'				: 16px,
	'phone-plus'		: 16px,
	'tablet-portrait'	: 16px,
	'tablet-landscape'	: 16px,
	'desktop'			: 16px,
	'xl'				: 16px,
	'xl2'				: 16px,
);

$font-size-body-text2: (
	'default'			: 13px,
	'phone'				: 13px,
	'phone-plus'		: 13px,
	'tablet-portrait'	: 16px,
	'tablet-landscape'	: 22px,
	'desktop'			: 22px,
	'xl'				: 22px,
	'xl2'				: 22px,
);

$font-size-default: (
	'default'			: 15px,
	'phone'				: 17px,
	'phone-plus'		: 20px,
	'tablet-portrait'	: 22px,
	'tablet-landscape'	: 22px,
	'desktop'			: 22px,
	'xl'				: 22px,
	'xl2'				: 22px,
);

$font-size-headline1: (
	'default'			: 25px,
	'phone'				: 34px,
	'phone-plus'		: 37px,
	'tablet-portrait'	: 54px,
	'tablet-landscape'	: 72px,
	'desktop'			: 72px,
	'xl'				: 72px,
	'xl2'				: 72px,
);

$font-size-headline2: (
	'default'			: 42px,
	'phone'				: 42px,
	'phone-plus'		: 42px,
	'tablet-portrait'	: 42px,
	'tablet-landscape'	: 51px,
	'desktop'			: 51px,
	'xl'				: 51px,
	'xl2'				: 51px,
);

$font-size-headline3: (
	'default'			: 21px,
	'phone'				: 21px,
	'phone-plus'		: 29px,
	'tablet-portrait'	: 29px,
	'tablet-landscape'	: 36px,
	'desktop'			: 36px,
	'xl'				: 36px,
	'xl2'				: 36px,
);

$font-size-headline4: (
	'default'			: 22px,
	'phone'				: 22px,
	'phone-plus'		: 22px,
	'tablet-portrait'	: 22px,
	'tablet-landscape'	: 24px,
	'desktop'			: 24px,
	'xl'				: 24px,
	'xl2'				: 24px,
);

$font-size-headline5: (
	'default'			: 16px,
	'phone'				: 16px,
	'phone-plus'		: 16px,
	'tablet-portrait'	: 16px,
	'tablet-landscape'	: 20px,
	'desktop'			: 20px,
	'xl'				: 20px,
	'xl2'				: 20px,
);

$font-size-headline6: (
	'default'			: 14px,
	'phone'				: 14px,
	'phone-plus'		: 14px,
	'tablet-portrait'	: 16px,
	'tablet-landscape'	: 22px,
	'desktop'			: 22px,
	'xl'				: 22px,
	'xl2'				: 22px,
);
