.component-video-popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba($black, .2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  transition: opacity .3s;

  &.active {
    pointer-events: all;
    opacity: 1;
  }

  .popup {
    position: relative;
    width: 60%;
    padding-bottom: 34%;
    background: $white;
  }

  iframe {
    position: absolute;
    left: 0;
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    margin: 7px;
    background-color: $black;
  }

  .close-button {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px $black solid;
    top: -15px;
    right: -15px;
    border-radius: 100%;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
  }
}