.component-footer {
	background-color: color('brand', 'primary');

	color: $white;
	background: #191659;

	.footer-wrapper {
		flex-direction: column;
		padding: 0;

		@include mediaquery('tablet-portrait') {
			flex-direction: row;
			justify-content: space-between;
			padding: 0 20px;
		}
	}

	.component-row {
		padding-top: 64px;
		padding-bottom: 64px;
	}

	.footer-logo {
		max-width: 173px;
		margin-bottom: 43px;

		@include mediaquery('tablet-portrait') {
			margin-bottom: 70px;
		}
	}
	
	.footer-copyright {
		p {
			font-size: px-to-rem(10px);
			margin-bottom: 16px;
			text-transform: uppercase;
			line-height: 16px;
			letter-spacing: 1px;
			@include secondary-medium;

			a {
				text-decoration: none;
				color: $white;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.footer-nav {
		margin-top: -24px;
	
		.menu-items {
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			max-height: 250px;

			& > .menu-item {
				width: 50%;
				margin-right: 20px;
				white-space: nowrap;

				@include mediaquery('tablet-portrait') {
					width: auto;
					max-width: 45%;
					min-width: 100px;
					margin-right: 65px;
				}
			}
		}
	}

	.menu-item {
		display: block;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-size: px-to-rem(12px);
		line-height: 16px;
		@include secondary-bold;
		padding-top: 16px;

		a {
			text-decoration: none;
		}
	}

	.sub-menu {
		margin-top: 8px;

		.menu-item {
			padding: 0;
			font-size: px-to-rem(10px);
			letter-spacing: 1px;
		}
	}

	.footer-link {
		margin-bottom: $gap*.25;
	}

	.social-media-wrapper {
		flex-direction: row;
		align-items: center;

		.component-social-media {
			width: auto;
		}

		.social-media-text {
			line-height: 20px;
			letter-spacing: 0.5px;
			text-transform: uppercase;
		}
	}

	.newsletter-social-media {
		display: flex !important; // Override flex-tablet-landscape-4-12
		flex-direction: column;
		justify-content: space-between;

		.newsletter {
			margin-bottom: 0;
		}

		.newsletter-title {
			line-height: 20px;
			letter-spacing: 0.5px;
			text-transform: uppercase;
		}

		.component-newsletter {
			margin-top: 8px;
			margin-bottom: 0;
		}
	}
}
