.component-footer {
	background-color: color('brand', 'primary');

	color: $white;
	background: #191659;

	.footer-wrapper {
		flex-direction: column-reverse;

		@include mediaquery('tablet-portrait') {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	.component-row {
		padding-top: 64px;
		padding-bottom: 64px;
	}

	.footer-logo {
		max-width: 173px;
		margin-bottom: 43px;

		@include mediaquery('tablet-landscape') {
			margin-bottom: 70px;
		}
	}

	.copyright-desktop {
		display: none;

		@include mediaquery('tablet-portrait') {
			display: block;
		}

		a {
			color: inherit;
		}
	}
	
	.footer-copyright {
		opacity: .75;
		letter-spacing: 1.5px;

		p {
			font-size: px-to-rem(10px);
			margin-bottom: 24px;
			text-transform: uppercase;
			@include secondary-regular;

			a {
				text-decoration: none;
				color: $white;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.footer-nav {
		margin-top: -24px;
	
		.menu-items {
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			max-height: 260px;

			& > .menu-item {
				width: 50%;
				margin-bottom: 30px;
				margin-right: 20px;

				@include mediaquery('tablet-landscape') {
					width: auto;
					max-width: 45%;
					min-width: 100px;
					margin-bottom: 0;
					margin-right: 65px;
				}
			}
		}
	}

	.menu-item {
		display: block;
		line-height: 1;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-size: px-to-rem(12px);
		@include secondary-bold;
		padding-top: 16px;

		@include mediaquery('tablet-landscape') {
			padding-top: 24px;
		}

		@include mediaquery('tablet-portrait') {
			margin-bottom: $gap;
		}

		&:last-child {
			margin-bottom: 0;
		}

		a {
			text-decoration: none;
		}
	}

	.menu-item + .menu-item {

	}

	.sub-menu {
		opacity: .8;
		margin-top: 16px;

		.menu-item {
			padding: 0;
			@include secondary-regular;
			margin-bottom: 8px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.footer-link {
		margin-bottom: $gap*.25;
	}

	.social-media-wrapper {
		flex-direction: row;
		align-items: center;


		.component-social-media {
			width: auto;
		}
	}

	.newsletter-social-media {
		display: flex !important; // Override flex-tablet-landscape-4-12
		flex-direction: column;
		justify-content: space-between;

		.newsletter {
			margin-bottom: 0;
		}

		.component-newsletter {
			margin-bottom: 0;
		}
	}
}
