.component-colortile {
	position: relative;
	top: -30px;

	// !important needed to override default component fade animation
	transition: top 3s cubic-bezier(0, 0, 0.04, 0.96) !important;

	&:before {
		content: "";
		display: block;
		background: color('default', 'white');
		position: absolute;
		top: -160px;
		left: 28px;
		width: 6px;
		height: 80%;
		transition: top 2s cubic-bezier(0, 0, 0.04, 0.96);

		@include mediaquery(tablet-portrait) {
			height: 100%;
			left: 40px;
			top: -160px;
		}
	}

	&.element-in-view {
		top: 0;

		&:before {
			height: 90%;
			top: -20px;

			@include mediaquery(tablet-portrait) {
				top: -50px;
			}
		}
	}
}
