.component-testimonialcarousel {
    padding-top: 60px;
    background: $white;
    padding-bottom: 75px;

    @include mediaquery('tablet-landscape') {
        padding-top: 95px;
        padding-bottom: 95px;
    }

    blockquote {
        p {
            font-style: italic;
            font-family: $tertiaryRegular;
            font-size: px-to-rem(20px);
            line-height: 32px;
    
            @include mediaquery('tablet-landscape') {
                font-size: px-to-rem(24px);
            }
        }
    }

    .nav {
        top: auto;
        bottom: 0;
        transform: translateY(calc(50% + 6px));

        @include mediaquery('tablet-landscape') {
            top: 50%;
            bottom: auto;
            transform: translateY(-50%);
        }

        &.next,
        &.prev {
            align-items: center;
            background: $white;
            box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.15);
            border-radius: 100%;
            display: flex;
            right: 13px;
            width: 40px;
            height: 40px;
            justify-content: center;

            @include mediaquery('tablet-landscape') {
                right: 53px;
            }

            &:after {
				content: '';
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 5px solid #50535C;
                transition: transform .3s;
                transform: rotate(-90deg);
				margin-left: 10px;
            }
        }

        &.prev {
            &:after {
                transform: rotate(90deg);
            }
        }
    }

    .dot-container {
        padding-left: 10px;
    }

    .component-carousel {
        height: 100%;
        padding: 0 20px;
        margin-top: 30px;

        @include mediaquery('tablet-landscape') {
            padding: 0;
            margin-top: 0;
        }

        .slides {
            height: 100%;
        }

        .slide {
            .quote-image {
                min-height: 45px;
                margin-bottom: 24px;
                background: url(../assets/images/quotes.svg) left top no-repeat;
                background-size: 20%;

                @include mediaquery('tablet-landscape') {
                    margin-bottom: 0;
                    background-position: center top;
                }
            }

            .quote-container {
                margin-bottom: 24px;

                @include mediaquery('tablet-landscape') {
                    min-height: 200px;
                    margin-bottom: 20px;
                }
            }

            .author-container {
                display: flex;

                .author-image {
                    width: 48px;
                    height: 48px;
                    flex: 0 0 auto;
                    margin-right: 14px;
                    border-radius: 50%;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                .author-data {
                    //flex: 1 0 auto;
                }

                .author-name {
                    margin-bottom: 5px;
                    font-weight: 600;
                }
            }
        }

        .author-dots-row {
            flex-direction: column-reverse;

            @include mediaquery('tablet-landscape') {
                flex-direction: row;
            }
        }

        .dots-component {
            margin-top: 45px;
            @include mediaquery('tablet-landscape') {
                margin-top: 40px;
            }

            .dot {
                position: relative;

                a {
                    width: 4px;
                    height: 4px;
                    background-color: $light-gray;
                }

                &:not(.active) {
                    opacity: 1;
                }

                &.active {
                    a {
                        background-color: $light-gray;
                    }

                    &:before {
                        top: 50%;
                        left: 50%;
                        content: "";
                        width: 12px;
                        height: 12px;
                        position: absolute;
                        border-radius: 50%;
                        border: 2px solid $light-gray;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}
