.component-header {
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
	position: fixed;
	background: #F9F8F5;
	height: $navMobileHeight;
	// border-bottom: 1px solid $light-gray--faded;
	transition: top .3s ease-in-out, background .3s ease-in-out;

	@include mediaquery(tablet-landscape)  {
		align-items: center;
		height: $navHeight;
	}

	.hideNav & {
		top: -($navMobileHeight);

		@include mediaquery(tablet-landscape)  {
			top: -($navHeight);
		}
	}

	.navOpen & {
		@include mediaquery-max-device-width(tablet-landscape) {
			top: 0;
		}
	}

	.header-inner {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		margin: 0 auto;
		align-items: center;
		padding: $gap * .75;
		max-width: $siteWidth;
		justify-content: flex-start;

		@include mediaquery('tablet-landscape') {
			padding: 0;		
		}
	}

	.logo-wrapper {
		z-index: 10;
		max-width: 188px;
		transition: all .3s ease-in-out;
		position: absolute;
		left: 20px;
    top: 50%;
		transform: translateY(-50%);

		.navOpen & {
			display: none;
		}

		@include mediaquery('tablet-landscape') {
			display: block;
		}

		@include mediaquery('xl2') {
			left: -170px;
		}

		.nav-logo {
			display: block;
			height: 26px;
			object-fit: contain;
			width: 100%;
		}
	}

	.main-nav {
		padding-top: 32px;
		@include mediaquery-max-width(tablet-landscape) {
			//Mobile only mediaquery so less overrides are necessary
			top: 0;
			width: 100%;
			display: flex;
			height: 100vh;
			right: -100%;
			position: absolute;
			background-color: #18255B;
			transition: right .3s ease-in;
			color: $white;

			.navOpen & {
				right: 0;
			}
		}

		@include mediaquery(tablet-landscape)  {
			//Large mobile +
			height: 100%;
			margin-left: 80px;
			width: calc(100% - 160px);


			@include mediaquery-max-width(xl) {
				margin-right: 80px;
			}
		}
	}

	.secondary-nav {
		position: absolute;
		height: 100%;
		right: 0;
		top: 0;
		padding-top: 8px;
		display: none;

		@include mediaquery('tablet-landscape') {
			display: block;
		}

		@include mediaquery('xl2') {
			right: -200px;
			padding-top: 8px;
		}

		.menu-item {
			display: none;
			font-weight: 500;

			@include mediaquery('tablet-landscape') {
				display: flex;
				font-size: 10px;
			}
		}

		.menu-item:not(:last-of-type) {
			margin-right: 30px;
			margin-left: 0
		}
	}

	.menu-items {
		align-items: center;
		display: flex;
		margin: auto;
		justify-content: flex-start;

		@include mediaquery-max-width(tablet-landscape) {
			// Mobile only mediaquery so less overrides are necessary
			flex-direction: column;
			text-align: center;

			// > .menu-item:not(:first-of-type) {
			// 	margin-top: 30px;
			// }
		}

		@include mediaquery(tablet-landscape)  {
			// Large mobile +
			// display: flex;
			height: 100%;
			position: relative;
			width: 100%;
			padding-left: 8px;
		}
	}

	.menu-item {
		height: 100%;
		cursor: pointer;
		text-align: left;
		line-height: 20px;
		position: relative;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		@include secondary-semi;
		display: none;

		&:first-child {
			margin-left: 0;
		}

		&.mobile {
			display: block;

			@include mediaquery('tablet-landscape')  {
				display: none;
			}
		}

		@include mediaquery-max-width(tablet-landscape) {
			//Mobile only mediaquery so less overrides are necessary
			text-align: center;
			font-size: px-to-rem(20px);
			padding-bottom: 0;
			margin-bottom: 32px;
		}

		@include mediaquery(tablet-landscape)  {
			//Large mobile +
			opacity: 1;
			display: flex;
			line-height: 16px;
			align-items: center;
			letter-spacing: 2px;
			font-size: px-to-rem(12px);
			transition: opacity .2s ease-in;
			margin-left: 25px;
			padding-bottom: 32px;

			&:not(:last-of-type) {
				margin-right: 25px;
			}
		}

		a {
			text-decoration: none;

			@include mediaquery(tablet-landscape)  {
				position: static;
			}

			&:after {
				left: 0;
				opacity: 0;
				height: 6px;
				content: '';
				width: 100%;
				display: block;
				bottom: 0;
				position: absolute;
				background-color: transparent;
				transition: background-color .1s ease-in-out, opacity .1s ease-in-out;
			}
		}

		&.current-menu-item {
			> a:after {
				opacity: 1;
				background-color: color('text', 'body');
			}
		}

		&.menu-item-has-children {
			@include mediaquery('tablet-landscape') {
				align-items: center;
				display: flex;
			}

			&::after {
				content: none;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 5px solid $defaultTextColor;
				height: 0;
				width: 0;
				transition: transform .3s;
				margin-left: 10px;
				margin-bottom: 3px;

				@include mediaquery('tablet-landscape') {
					content: '';
				}
			}
		}

		&.menu-item-has-children:hover {
			.sub-menu {
				opacity: 1;
				pointer-events: auto;
			}

			&:after {
				transform: rotate(180deg);
			}
		}

		.sub-menu {
			@include mediaquery('tablet-landscape') {
				opacity: 0;
				position: absolute;
				background: $white;
				color: $defaultTextColor;
				pointer-events: none;
				transform: translate(-20%, 1px);
				color: color('text', 'body');
				padding: 25px 15px 20px 25px;
				top: 99%;
				transition: opacity .3s ease-in;
				padding: 30px 32px 30px 22px;

				.menu-item {
					margin: 0;
					height: auto;
					display: block;
					white-space: nowrap;
					color: $defaultTextColor;
					@include secondary-bold;
					transition: color .3s;
					padding-bottom: 0;
					margin-top: 20px;

					&:first-child {
						margin-top: 0;
					}

					a {
						&:after {
							content: none;
						}
					}

					&:hover {
						color: $light-gray;
					}
				}

				.menu-item + .menu-item {
					margin-top: 20px;
				}
			}
		}

		@include mediaquery(desktop)  {
			&:hover {
				opacity: 1;

				a:after {
					background-color: $black;
					opacity: 1;
				}
			}
		}
	}

	.column-menu {
		margin-bottom: 0;

		& > :first-child {
			@include mediaquery-max-width('tablet-landscape')  {
				margin-bottom: 32px;
				display: block;
			}
		}
	
		& > .sub-menu {
			@include mediaquery('tablet-landscape')  {
				display: flex;
				align-items: flex-start;
				padding: 24px 53px 32px 32px;
	
				& > .menu-item + .menu-item {
					margin-top: 0;
					margin-left: 20px;
				}
			}
		}

		.menu-item-has-children {
			@include mediaquery('tablet-landscape')  {
				margin-top: 0;
				min-width: 150px;
			}

			&:after {
				content: none;
			}
		
			& > a {
				@include mediaquery('tablet-landscape')  {
					border-bottom: 1px solid #979797;
					display: block;
					padding-bottom: 20px;
				}
			}

			.sub-menu {
				background: transparent;
				display: block;
				position: relative;
				transform: none;

				@include mediaquery('tablet-landscape')  {
					padding: 24px 0 0 0;
				}
			}
		}
	}

	.language-switcher {
		margin-left: -10px;

		.languages {
			display: flex;
			align-items: center;
		}

		.language {
			align-items: center;
			border: 1px solid transparent;
			color: $defaultTextColor;
			display: flex;
			font-size: px-to-rem(10px);
			line-height: 1;
			letter-spacing: 1px;
			@include secondary-regular;
			font-weight: 500;

			a {
				display: block;
				padding: 7px 6px;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

				&::after {
					content: none;
				}
			}
		}
	}

	.language + .language {
		&::before {
			content: '/';
		}
	}

	.logoDark & {
		.nav-logo {
			display: none;
		}

		.secondary-nav-logo {
			display: block;
		}

		.menu-item {
			color: $defaultTextColor;
		}

		.language {
			color: $defaultTextColor;
		}

		.menu-item-has-children {
			&::after {
				border-top-color: $defaultTextColor;
			}
		}
	}
	
	.logoLight & {
		.nav-logo {
			display: block;
		}

		.secondary-nav-logo {
			display: none;
		}

		.menu-item {
			color: $white;
		}
	}

	.hamburger-wrapper {
		z-index: 1;
		transform: none;

		.navOpen & {
			mark {
				&::before,
				&::after {
					background-color: $white;
				}
			}
		}
	}

	.component-logo-animation {
		position: absolute;
    top: 50%;
    width: 100%;
    height: 40%;
    transform: translateY(-50%);
		opacity: .2;
		display: none;

		.navOpen & {
			display: block;
		}

		@include mediaquery('tablet-landscape')  {
			display: none;
		}
	}
}
